@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

* {
  list-style-type: none;
  font-family: "Quicksand", sans-serif;
}
html {
  scroll-behavior: smooth;
}
.theme-grey {
  --color-primary: #333;
  --color-secondary: #f5f5f5;
  --color-third: #555;
  --color-fourth: #e2e2e2;
  --color-backgorund: rgba(0, 0, 0, 0.1);
  --color-font: #fff;
  --color-font2: #555;
  --color-button: #999;
}

.theme-purple {
  --color-primary: #912094;
  --color-secondary: #e590ff;
  --color-third: #912094;
  --color-backgorund: rgba(255, 0, 242, 0.1);
  --color-font2: #333;
  --color-font: #fff;
}

.theme-blue {
  --primary-color: #04436e;
}

.theme-yellow {
  --primary-color: #cabe12;
}

#grey {
  background-color: #333;
}
#pruple {
  background-color: #912094;
}
#blue {
  background-color: #04436e;
}
#yellow {
  background-color: #cabe12;
}

body {
  color: var(--color-font2);
  margin: 0;
  padding: 0;
  background-image: url("./images/bg.png");
}

nav {
  background: var(--color-primary);
  width: 100%;
  position: sticky;
  z-index: 1;
  top: 0px;
}
nav .container {
  display: flex;
  justify-content: space-between;
  margin-top: 0;
  position: sticky;
}

li:hover {
  cursor: pointer;
}
.color-change ul {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}
.color-change ul li {
  color: var(--color-font);
  border: white 1px solid;
  border-radius: 50%;
  box-shadow: 1px 1px 1px white;
}

.phone ul {
  padding: 0;
}

.phone ul li {
  color: var(--color-font);
}
.container {
  display: flex;
  margin: auto;
  max-width: 1220px;
  margin-top: 2.5rem;
  flex-wrap: wrap;
  box-sizing: border-box;
}
.title {
  max-width: 1220px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}
.title img {
  width: 17%;
}
.title h2 {
  font-size: 2.6rem;
  font-weight: 600;
  margin: 2rem 0;
}
header {
  background-image: url("./images/bg.png");
  background-repeat: repeat;
}

.header-img {
  background-color: var(--color-backgorund);
}

header .container img {
  object-fit: cover;
  width: 100%;
  height: 22rem;
}

header .container {
  margin-top: 0;
}

#info,
#services {
  margin: 0 auto;
  width: 100%;
  text-align: center;
}
#info h1,
#services h1 {
  margin: 0 auto;
  font-size: 1.8rem;
  font-weight: 600;
}
#info section p {
  font-size: 1rem;
  line-height: 2;
}

#services {
  margin-top: 1.5rem;
  width: 100%;
}

span {
  color: var(--color-font);
  background-color: var(--color-third);
  border-radius: 1rem;
  padding: 0.5rem;
}

#services section {
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 1rem;
}
.box {
  display: flex;
  background-color: var(--color-secondary);
  flex: 40%;
  text-align: left;
  color: var(--color-font2) !important;
  border-radius: 1rem;
}

.box h1 {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 0.5rem 0;
  color: var(--color-font2) !important;
}

.box .img {
  width: 70%;
  padding: 1rem;
  align-self: center;
}
.box img {
  width: 100%;
  align-self: center;
}

#feedback {
  margin-top: 2rem;
  width: 100%;
  text-align: center;
}

#feedback section {
  margin-top: 3rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 1rem;
}
#feedback .box {
  padding: 2rem 2rem 0 2rem;
  margin-top: 2rem;
  text-align: center;
  flex: 0 0 27%;
  /* code for mobile  */
  /* flex: 1 100%;
  margin: 1rem; */
  position: relative;
  background-color: var(--color-fourth);
}
#feedback .box h3 {
  font-weight: 600;
  position: sticky;
}

#feedback .box .img {
  width: 80%;
  position: absolute;
  left: 7%;
  top: -17%;
}

#feedback .box img {
  width: 35%;
}
#feedback .box .content {
  margin-top: 1.5rem;
}

.box button {
  background-color: var(--color-button);
  border: none;
  width: 80%;
  border-radius: 0.3rem;
  padding: 0.5rem 1rem;
  color: var(--color-font);
  font-weight: 600;
  font-size: 1rem;
  margin-bottom: 2rem;
}
.box button:hover {
  cursor: pointer;
  background-color: var(--color-third);
}

footer {
  margin-top: 2rem;
  background-color: var(--color-primary);
}
footer .contact {
  background-color: var(--color-third);
  background-image: url("./images/bg2.png");
  color: var(--color-font);
  text-align: center;
}

.contact h3 {
  margin: 0;
  padding: 2rem 0 1rem 0;
  font-weight: 400;
  font-size: 1.7rem;
}

.contact p {
  margin: 0;
  font-size: 1.2rem;
}

.contact input {
  margin: 1rem 0.5rem;
  border-radius: 0.3rem;
  padding: 0.7rem;
  width: 13rem;
  border: 0;
}
.contact button {
  padding: 0.7rem;
  border: 0;
  border-radius: 0.3rem;
  width: 5rem;
  font-weight: 800;
}
.contact button:hover {
  cursor: pointer;
}

footer .container {
  padding: 0.5rem;
  margin-top: 0;
  color: var(--color-font);
  display: flex;
  justify-content: space-between;
}
footer .media {
  display: flex;
  align-self: center;
  justify-self: flex-start;
}
/* TODO basically fix the sprite images o that only one image shows asfsaf */
#linkedin {
  background: url("./images/in.png") 0 0;
  width: 100%;
}
