@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

* {
  list-style-type: none;
  font-family: "Quicksand", sans-serif;
}
html {
  scroll-behavior: smooth;
}
.theme-grey {
  --color-primary: #333;
  --color-secondary: #f5f5f5;
  --color-third: #555;
  --color-backgorund: rgba(0, 0, 0, 0.1);
  --color-font: #fff;
  --color-font2: #555;
}

.theme-purple {
  --color-primary: #912094;
  --color-secondary: #e590ff;
  --color-third: #912094;
  --color-backgorund: rgba(255, 0, 242, 0.1);
  --color-font2: #333;
  --color-font: #fff;
}

body {
  color: var(--color-font2);
  margin: 0;
  padding: 0;
}

nav {
  background: var(--color-primary);
  width: 100%;
  position: sticky;
  z-index: 1;
  top: 0px;
}
nav .container {
  display: flex;
  justify-content: space-between;
  margin-top: 0;
  position: sticky;
}

li:hover {
  cursor: pointer;
}
.color-change ul {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}
.color-change ul li {
  margin-left: 1.5rem;
  color: var(--color-font);
}

.phone ul {
  padding: 0;
}

.phone ul li {
  color: var(--color-font);
}
.container {
  display: flex;
  margin: auto;
  max-width: 1220px;
  margin-top: 2.5rem;
  flex-wrap: wrap;
}
.title {
  max-width: 1220px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}
.title img {
  width: 17%;
}
.title h2 {
  font-size: 2.6rem;
  font-weight: 600;
  margin: 2rem 0;
}
header {
  background-image: url("./images/bg.png");
  background-repeat: repeat;
}

.header-img {
  background-color: var(--color-backgorund);
}

header .container img {
  object-fit: cover;
  width: 100%;
  height: 22rem;
}

header .container {
  margin-top: 0;
}

#info,
#services {
  margin: 0 auto;
  width: 100%;
  text-align: center;
}
#info h1,
#services h1 {
  margin: 0 auto;
  font-size: 1.8rem;
  font-weight: 600;
}
#info section p {
  font-size: 1rem;
  line-height: 2;
}

#services {
  margin-top: 1.5rem;
  width: 100%;
}

span {
  color: var(--color-font);
  background-color: var(--color-third);
  border-radius: 1rem;
  padding: 0.5rem;
}

#services section {
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 2rem;
}
.box {
  display: flex;
  flex-wrap: nowrap;
  background-color: var(--color-secondary);
  flex: 40%;
  text-align: left;
  color: var(--color-font2) !important;
}

.box h1 {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 0.5rem 0;
  color: var(--color-font2) !important;
}

.box .img {
  width: 70%;
  padding: 1rem;
  align-self: center;
}
.box img {
  width: 100%;
  align-self: center;
}

#feedback {
  margin-top: 2rem;
  width: 100%;
  text-align: center;
}

#feedback section {
  margin-top: 3rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  flex: 30%;
  gap: 2rem;
}

#feedback .box {
  flex: 30%;
}

#feedback .box .img {
  width: 150%;
  top: -80px;
  position: relative;
  left: 150px;
}

#feedback .box img {
  width: 100%;
}
